<header>
    <div class = "connect">
        <a  href = "https://drive.google.com/file/d/10CqG6FMyzOzAVt5XWzdDu9MJFKH6nYOj/view?usp=sharing"
            target="_blank">Resume</a>
        <a  href = "https://github.com/LynnHaDo" 
            target="_blank">Github</a>
    </div>
</header>
<div class="wrapper">
    <ul class="menus">
        <li><a href="#home" alt="Home">
            <img src="../../../assets/icons/home.svg" />
        </a></li>
        <li><a href="#projects" alt="Projects">
            <img src="../../../assets/icons/code.svg" />
        </a></li>
        <li><a href="#contact" alt="Contact">
            <img src="../../../assets/icons/mail.svg" />
        </a></li>
    </ul>
</div>





