<header id = "header-wrapper">
    <div class = "wrapper-border">
        <img
    src="../../../assets/logo.png"
    alt="Linh Do"
    class="logo"
    id="logo"
  />
    <div class = "connect">
        <a  class = "display" href = "https://drive.google.com/file/d/10CqG6FMyzOzAVt5XWzdDu9MJFKH6nYOj/view?usp=sharing"
            target="_blank">Resume</a>
        <a  class = "display" href = "https://github.com/LynnHaDo" 
            target="_blank">Github</a>
    </div>
    </div>
</header>
<div class="wrapper">
    <ul class="menus">
        <li><a href="#about" alt="About">
            <img src="../../../assets/icons/user.svg" />
        </a></li>
        <li><a href="#projects" alt="Projects">
            <img src="../../../assets/icons/code.svg" />
        </a></li>
        <li><a href="#contact" alt="Contact">
            <img src="../../../assets/icons/send.svg" />
        </a></li>
    </ul>
</div>





