:root {
    --header-font-family: 'Dela Gothic One', sans-serif;
    --main-font-family: 'DM Mono', monospace; 
    --header-font-weight: 500;
    --text-font-weight: 400;
    --white: #F2F2F2;
    --black: #0D0D0D;
    --pink: #F299E3;
    --green-light: #04D960;
    --green-mid: #04BF55;
    --green-dark: #027333;
}

html {
    background-color: var(--white);
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--header-font-family);
}

h4, h5, h6 {
    font-family: var(--main-font-family);
    font-weight: var(--header-font-weight);
}

p, button, a {
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
}

a {
    text-decoration: none;
    color: var(--black)
}

a:hover {
    color: var(--green-mid);
    transition: 0.5s ease;
}

.bg-green {
    background-color: var(--green-dark);
}

.bg-black {
    background-color: var(--black);
}

.bg-black * {
    color: var(--white)
}
/* Source: https://codepen.io/sosuke/pen/Pjoqqp */
.filter-white {
    filter: invert(99%) sepia(42%) saturate(43%) hue-rotate(151deg) brightness(118%) contrast(90%);
}

/* Main Section */
section.main-section {
    padding: 2rem 20%;
    height: 100vh;
}
.intro {
    text-align: center;
}

.intro img.logo {
    width: 100px;
}

section.main-section#contact {
    height: 300px;
}