<section class="main-section starter" id="about">
  <div class="display">
    <h1>Linh</h1>
    <h1>Do</h1>
    <span class = "bg-green">Full-stack development</span>
    <span class = "bg-pink">Computer Vision</span>
    <span class = "bg-green-mid">Machine Learning/AI</span>
    <span class = "bg-green-light">Statistical Analysis</span>
    <img
      src="../../../assets/logo.png"
      alt="Linh Do"
      class="logo"
      id="logo"
    />
  </div>
  <div class="main-section-content">
    <div class="intro">
      <h1>Hi! I'm Linh</h1>
      <p>
        I am an aspiring software engineer, with interests in statistics and
        AI/ML.
      </p>
    </div>
  </div>
</section>

<section class="main-section bg-green" id="projects">
  <div class="main-section-content">
    <h1>My projects</h1>
  </div>
  <div class="row"></div>
</section>

<section class="main-section bg-black" id="contact">
  <div class="main-section-content">
    <h1>Contact</h1>
    <div class="row">
      <div class="col-content">
        <h3>Mail</h3>
        <a href="mailto:dohalinh2303@gmail.com">dohalinh2303@gmail.com</a>
      </div>
      <div class="col-content">
        <h3>Social media</h3>
        <div class="social-media">
          <a href="https://github.com/LynnHaDo" target="_blank">
            <img
              src="../../../assets/icons/github.svg"
              class="filter-white"
              width="28px"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/linh-do-0327371b2/"
            target="_blank"
          >
            <img
              src="../../../assets/icons/linkedin.svg"
              class="filter-white"
              width="32px"
            />
          </a>
          <a href="https://www.behance.net/dolinh" target="_blank">
            <img
              src="../../../assets/icons/behance.svg"
              class="filter-white"
              width="36px"
            />
          </a>
        </div>
      </div>
    </div>
    <br /><br /><br />
    <p>
      Made with
      <img
        src="../../../assets/icons/heart.svg"
        class="filter-white"
        width="15px"
      />
      by Linh Do
    </p>
    <p>Last updated <span id="currentDate"></span></p>
  </div>
</section>
