<section class = "main-section" id="home">
    <div class = "intro">
        <img src="../../../assets/logo.svg" alt="Linh Do" class="logo"/>
        <h1>Hi! I'm Linh</h1>
        <p>I am an aspiring software engineer, with interests in statistics and AI/ML.</p>
        <p>The projects I am working on revolve around full-stack development, applications of Computer Vision, and statistical analysis.</p>
    </div>
</section>
<section class = "main-section bg-green" id="projects">
    <div class = "intro">
        <h1>My projects</h1>
    </div>
    <div class = "row">

    </div>
</section>
<section class = "main-section bg-black" id="contact">
    <div class = "intro">
        <h1>Contact</h1>

        <p>Made with <img src="../../../assets/icons/heart.svg" class = "filter-white" width="15px"/> by Linh Do</p>
        <p>Last updated <span id="currentDate"></span></p>
    </div>
</section>
